<a href="https://colab.research.google.com/github/diegobianco/lineaBinterrupciones/blob/datosubte/Copia_de_TP_Det.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.6/dist-packages (0.8.1)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (3.0.0.post1)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: fiona in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.8.18)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.1.4)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from pyproj>=2.2.0->geopandas) (2020.11.8)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (20.3.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (0.7.1)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)

In [ ]:
import pandas as pd
import geopandas as gpd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
!git clone https://github.com/diegobianco/lineaBinterrupciones.git

fatal: destination path 'lineaBinterrupciones' already exists and is not an empty directory.

In [ ]:
!ls lineaBinterrupciones

B_2019.csv  LICENSE  README.md	Reporte_de_incidencias.csv

In [ ]:
import csv

In [ ]:
incidentes = pd.read_csv('lineaBinterrupciones/B_2019.csv')

Reviso que la tabla sea la correcta viendo las primeras entradas

In [ ]:
incidentes.head()

         FECHAyHORA  ... DURACION_(MINUTOS)
0  31/12/2019 20:12  ...                  5
1  27/12/2019 21:32  ...                  5
2  27/12/2019 21:14  ...                 13
3  27/12/2019 00:42  ...                 53
4  23/12/2019 22:30  ...                 27

[5 rows x 6 columns]

Verifico la lista de nombre de columnas y que no tenga objetos null

In [ ]:
incidentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FECHAyHORA          275 non-null    object
 1   FECHA               275 non-null    object
 2   HORA                275 non-null    object
 3   LINEA               275 non-null    object
 4   MOTIVO              275 non-null    object
 5   DURACION_(MINUTOS)  275 non-null    int64
dtypes: int64(1), object(5)
memory usage: 13.0+ KB

Me deshago de la columna Fecha y hora, que no la voy a usar

In [ ]:
incidentes.drop(columns='FECHAyHORA', inplace=True)

Vuelvo a revisar las columnas

In [ ]:
incidentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FECHA               275 non-null    object
 1   HORA                275 non-null    object
 2   LINEA               275 non-null    object
 3   MOTIVO              275 non-null    object
 4   DURACION_(MINUTOS)  275 non-null    int64
dtypes: int64(1), object(4)
memory usage: 10.9+ KB

Buscamos la información en la columna HORA

In [ ]:
incidentes.HORA

0      20:12:05
1      21:32:08
2      21:14:08
3      00:42:08
4      22:30:14
         ...
270    15:56:02
271    20:20:02
272    21:32:02
273    21:38:11
274    13:48:03
Name: HORA, Length: 275, dtype: object

Como solo queremos la hora estadísticamente y no los minutos y segundos, filtramos los datos.

In [ ]:
horaincidente = [i[0:2] for i in incidentes.HORA]

Creo la columna hora_incidente

In [ ]:
incidentes['hora_incidente'] = horaincidente

Transformo la columna en integer

In [ ]:
incidentes["hora_incidente"] = incidentes['hora_incidente'].astype('int')
incidentes.dtypes

FECHA                 object
HORA                  object
LINEA                 object
MOTIVO                object
DURACION_(MINUTOS)     int64
hora_incidente         int64
dtype: object

Me deshago de la columna HORA, que no la voy a utilizar

In [ ]:
incidentes.drop(columns='HORA', inplace=True)

Renombro la columna DURACION

In [ ]:
incidentes.rename(columns = {'DURACION_(MINUTOS)': 'DURACION'}, inplace=True)

Listo para verificar los cambios

In [ ]:
incidentes

          FECHA LINEA  ... DURACION  hora_incidente
0    31/12/2019     B  ...        5              20
1    27/12/2019     B  ...        5              21
2    27/12/2019     B  ...       13              21
3    27/12/2019     B  ...       53               0
4    23/12/2019     B  ...       27              22
..          ...   ...  ...      ...             ...
270  12/01/2019     B  ...       40              15
271  09/01/2019     B  ...        4              20
272  08/01/2019     B  ...       24              21
273  04/01/2019     B  ...       19              21
274  02/01/2019     B  ...       20              13

[275 rows x 5 columns]

Contemplando errores saco cualquier fila que tenga valor 0 en DURACION

In [ ]:
incidentes = incidentes[(incidentes['DURACION'] > 0)]

Utilizo el dato conocido del tiempo de operación para obtener el porcentaje de interrupción (redondeado hasta 2 decimales)

In [ ]:
porcinter = [round(900/(i*100),2) for i in incidentes.DURACION]

Creo la columna para asignarle el valor

In [ ]:
incidentes['porcentaje_diario'] = porcinter

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Verifico los datos

In [ ]:
incidentes

          FECHA LINEA  ... hora_incidente  porcentaje_diario
0    31/12/2019     B  ...             20               1.80
1    27/12/2019     B  ...             21               1.80
2    27/12/2019     B  ...             21               0.69
3    27/12/2019     B  ...              0               0.17
4    23/12/2019     B  ...             22               0.33
..          ...   ...  ...            ...                ...
270  12/01/2019     B  ...             15               0.23
271  09/01/2019     B  ...             20               2.25
272  08/01/2019     B  ...             21               0.38
273  04/01/2019     B  ...             21               0.47
274  02/01/2019     B  ...             13               0.45

[259 rows x 6 columns]